*, *::before, *::after{
    box-sizing: border-box;
}

:root {
    /* primary colors */
    --footer-color: hsl(233, 26%, 24%);
    --button-color: hsl(136, 65%, 51%);
    --primary-color-brightcyan: hsl(192, 70%, 51%);

    /* Background colors */
    --background-color-primary: hsl(220, 16%, 96%);
    --background-color-secondary: hsl(233, 8%, 62%);

    /* Text colors */
    --text-color-primary: hsl(0, 0%, 100%);
    --text-color-secondary: hsl(233, 8%, 62%);
}

body {
    max-width: 100%;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav ul {
    display: flex;
    gap: 2rem;
}